</body>
<div class="card">
    <div class="card-header">
        <a href="https://github.com/laxmidhar2001">Laxmidhar das</a>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>A well-known quote, contained in a blockquote element. My first EXPRESS demo app</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source @ <i><a href="https://www.reddit.com/">Reddit</a></i></cite></footer>
        </blockquote>
    </div>
</div>

</html>