<%- include('partials/head') %>

    <%- include('partials/navbar') %>

    <div class="container">
        <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora, praesentium officiis quam, fugit repellat saepe iure beatae architecto esse animi 
            alias nisi. Sint quaerat perferendis earum asperiores pariatur tempore dolorem?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit aliquid
            recusandae libero consequuntur rerum, nemo, unde voluptate quas autem fugiat facilis optio incidunt reprehenderit pariatur laborZum quasi illum quibusdam voluptates?</p>
        
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate perferendis 
            tenetur doloremque quae eaque ratione, laudantium autem sed accusamus dolores tempore, aspernatur ipsa adipisci obcaecati quis minima odio quibusdam itaque.</p>
        </div>  
        <%- include('partials/footer') %>